<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>

<body class="text-bg-dark p-3">
    <div class="container">
        <div class="row text-center p-3">
            <h1>Data Feeder</h1>
        </div>
        <div class="row">
            <nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a id="allTab" class="nav-link" hx-get="/all" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">All</a>
                        </li>
                        <li class="nav-item">
                        <a id="clientsTab" class="nav-link" hx-get="/clients" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Clients</a>
                        </li>
                        <li class="nav-item">
                        <a id="cardsTab" class="nav-link" hx-get="/cards" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Cards</a>
                        </li>
                        <li class="nav-item">
                        <a id="transactionsTab" class="nav-link" hx-get="/transactions" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Transactions</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row" id="content">
            <div class="m-3">
                <h2 >Welcome!</h2>
                <p>Select tab to begin...</p>
            </div>
            
    </div>

    <script>
        at = document.getElementById("allTab");
        ct = document.getElementById("clientsTab");
        cat = document.getElementById("cardsTab");
        tt = document.getElementById("transactionsTab");
        at.onclick = function() {
            at.classList.add("active");
            ct.classList.remove("active");
            cat.classList.remove("active");
            tt.classList.remove("active");
        }
        ct.onclick = function() {
            at.classList.remove("active");
            ct.classList.add("active");
            cat.classList.remove("active");
            tt.classList.remove("active");
        }
        cat.onclick = function() {
            at.classList.remove("active");
            ct.classList.remove("active");
            cat.classList.add("active");
            tt.classList.remove("active");
        }
        tt.onclick = function() {
            at.classList.remove("active");
            ct.classList.remove("active");
            cat.classList.remove("active");
            tt.classList.add("active");
        }
    </script>

</body>


</html>